@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Outfit:wght@600&display=swap");

.product-page {
  border: 1px solid rgb(7, 7, 7);
  background-color: rgb(234, 237, 238);
  border-radius: 4px;
  display: inline-block;
  box-shadow: -1px 1px 3px 0 rgb(17, 17, 17);

  display: inline-block;
  width: 260px;
  height: 500px;
  margin: 10px 10px 5px 0;
  padding: 10px;

  vertical-align: top;
  position: relative;

  text-decoration: none;
  font-family: "Cambo", serif;
  font-family: "Outfit", sans-serif;
}
.product-page img {
  margin: 0;
  width: 230px;
}
.product-info {
  position: relative;
  top: 20px;
}

.product-page .category {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 13px;
}
